@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto+Slab:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Overseer';
  src: url('/font/Overseer.otf');
}

:root {
  --ifm-font-family-base: Roboto, system-ui, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --ifm-font-family-monospace: 'JetBrainsMono NF', 'JetBrains Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --ifm-color-primary: #6b00d7;
  --ifm-color-primary-dark: #6000c2;
  --ifm-color-primary-darker: #5b00b7;
  --ifm-color-primary-darkest: #4b0097;
  --ifm-color-primary-light: #7600ed;
  --ifm-color-primary-lighter: #7b00f7;
  --ifm-color-primary-lightest: #8b19ff;
  --ifm-background-color: #e8ffe8;
  --ifm-background-surface-color: #c0ffc0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --ifm-color-primary: #dbb002fa;
  --ifm-color-primary-dark: #fffd71;
  --ifm-color-primary-darker: #ffef6a;
  --ifm-color-primary-darkest: #ffc558;
  --ifm-color-primary-light: #ffff90;
  --ifm-color-primary-lighter: #ffff97;
  --ifm-color-primary-lightest: #ffffaf;
  --ifm-background-color: #282a36;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --docsearch-hit-active-color: #8080FF !important;
}

pre {
  max-height: 480px;
  overflow-y: scroll;
}

.img_node_modules-\@docusaurus-theme-classic-lib-theme-MDXComponents-Img-styles-module {
  border-radius: var(--ifm-alert-border-radius);
}

.hero__title,
.title_f1Hy {
  font-family: 'Overseer', 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15vmin;
  background: -webkit-linear-gradient(#dbaf02, #db7202e4);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.825);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.img_ev3q {
  border-radius: var(--ifm-alert-border-radius);
}

.preamble p {
  text-shadow: 3px 3px black;
  font-weight: bold;
  font-size: 22px;
}

/* Container for text content */
.container {
  border-radius: 25px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

/* Buttons */
.button {
  background: -webkit-linear-gradient(#db7202e4, #ffff80);
  border-color: transparent;
}

.button:hover,
.button:focus {
  background: -webkit-linear-gradient(#db7202e4, #cc2f04);
}

/* NavBar */
.navbar__link {
  color: #dbaf02;
}

.navbar__brand {
  color: #db7202e4;
}

/* Fade In */
.content-body {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

/* Image Gallery */
.gallery img {
  border: 10px black;
}

/* Getting Started Button */
.getting-started-button {
  font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #dbb002fa;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.getting-started-button:hover {
  transform: scale(1.1);
}

.getting-started-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ff7300,
    #555555,
    #fffb00,
    #fffb00,
    #ff7300,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-getting-started-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-getting-started-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.getting-started-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.getting-started-button:link {
  text-decoration: none; 
}

.gallery {
  width: 73vw;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  box-sizing: border-box;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}